body{

}
#banner{
    width: ;
}
.navigation{
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
.box{
    color: white;
    border: 1px solid white;
    text-align: center;
    font-size: 100px;
    font-family: sans-serif;
    background-color: black;
}
.box a{
    text-decoration: none;
}
.pics{
    min-width: 100%;
    flex-direction: column;
}
main, img{
    min-width: 100%;
    margin-top: 5px;
}
footer{
    font-family: Comic Sans MS;
    font-size: 40px;
}
